body {
    background-color: #8B4513; /* Brown color */
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.dashboard {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #98502f; /* Darker shade of brown */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #FFF5EE; /* Light brown */
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: rgb(244, 155, 107); /* Lighter shade of brown */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    /* height: 300px; */
}

.card img {
    width: 100%;
    height: 190px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.details {
    text-align: left;
}

.details h2 {
    margin: 0 0 10px;
    color: #FFF8DC; /* Lighter brown */
}

.details p {
    margin: 0;
    color: #FAEBD7; /* Lighter brown */
}

textarea {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFF8DC; /* Light brown border */
    background-color: #D2B48C; /* Tan background */
    color: #000;
    resize: none; /* Prevents resizing */
    font-family: Arial, sans-serif;
    font-size: 14px;
}

details,a{
    color: #181717;

}






